<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MONDAINAI</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/ico.ico">
  <style>

  </style>
</head>

<body>
  <%- include('partials/header') %>
    <!-- <h1>Bienvenido al Portal</h1> -->
    <div class="container">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/Foto_1_Inicio.webp" class="d-block w-100" alt="..." height="400">
          </div>
          <div class="carousel-item">
            <img src="images/Foto_2_Inicio.webp" class="d-block w-100" alt="..." height="400">
          </div>
          <div class="carousel-item">
            <img src="images/Foto_3_Inicio.webp" class="d-block w-100" alt="..." height="400">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
<br>
    <div class="container text-center">
      <h3>"La Cruel Realidad de los Negocios: Un Camino sin Llegada"</h3> <br>
      <div class="row">
        <div class="col-md-3">
          <p>
            <strong>
              Acto 1: Preparación para el Viaje
            </strong><br>
            Ser emprendedor, profesionista independiente o empresario es como prepararse para cruzar un vasto desierto.
            Llenas tu mochila con recursos esenciales, consciente de los enormes desafíos que te esperan.
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <strong>
              Acto 2: Inicio del Viaje
            </strong><br>
            Al borde del desierto, la inmensidad del reto te abruma. La incertidumbre y la determinación se mezclan
            mientras das el primer paso hacia lo desconocido.
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <strong>
              Acto 3: Enfrentando Desafíos
            </strong> <br>
            En el corazón del desierto, una tormenta de arena te golpea. Cada obstáculo inesperado pone a prueba tu
            capacidad de adaptación y resistencia.
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <strong>
              Acto 4: Momento de Crisis
            </strong><br>
            Agotado y con recursos casi agotados, consideras abandonar. La desesperación es fuerte, pero tu
            determinación te empuja a seguir adelante.
          </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img src="images/Foto_4_Inicio.webp" class="d-block w-100" alt="..." width="200" height="200">
          </div>
          <div class="col-md-3">
            <img src="images/Foto_5_Inicio.webp" class="d-block w-100" alt="..." width="200" height="200">
          </div>
          <div class="col-md-3">
            <img src="images/Foto_6_Inicio.webp" class="d-block w-100" alt="..." width="200" height="200">
          </div>
          <div class="col-md-3">
            <img src="images/Foto_7_Inicio.webp" class="d-block w-100" alt="..." width="200" height="200">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12"><br><br>
          <h3>
            ¿Porque MONDAINAI empodera a emprendedores, profesionistas independientes y empresarios con su ecosistema de
            recursos?
          </h3> <br>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button custom-header" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Autonomía sin dependencia
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse show"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En Mondainai, ofrecemos productos de alta tecnología y servicios integrales que fortalecen la
                  estructura
                  empresarial. Nuestro enfoque permite a las empresas desarrollar habilidades de resolución de problemas
                  y
                  tomar decisiones de manera independiente, asegurando estructura solida , estable y resiliente, sin
                  generar dependencia.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed custom-header" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Total autonomía garantizada
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En Mondainai, nos guiamos por principios orientadores, no por políticas restrictivas. Esto permite a
                  los
                  emprendedores, empresarios y profecionales independientes tomar decisiones sobre su negocio con total
                  libertad, sin limitaciones ni expectativas impuestas por nosotros.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed custom-header" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Identidad empresarial libre
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En Mondainai, rechazamos los modelos de negocio estandarizados que podrían limitar la creatividad e
                  innovación. Fomentamos la diversidad en el mercado, proporcionando un marco sólido para abordar
                  diversos
                  desafíos del desarrollo empresarial.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed custom-header" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Control del fundador asegurado
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En Mondainai, promovemos la colaboración multidisciplinaria sin diluir el control del fundador.
                  Evitamos
                  la dependencia excesiva de financiamiento externo y expectativas limitantes, enfocándonos en
                  desarrollar
                  un estructura empresarial.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed custom-header" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Sostenibilidad a largo plazo
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En Mondainai, priorizamos la construcción de una base sólida y sostenible en lugar del crecimiento
                  rápido a corto plazo. Abordamos los principales desafíos estructurales con herramientas y servicios
                  integrales basados en principios orientadores.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed custom-header" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                  Desarrollo de competencias internas
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En Mondainai, potenciamos las capacidades internas en liderazgo, gestión, ventas, marketing y
                  operaciones con herramientas de alta tecnología y servicios integrales.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed custom-header" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                  Visión clara y específica
                </button>
              </h2>
              <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En Mondainai, apoyamos la visión del emprendedor, profesionista independiente y empresario sobre su
                  negocio y mercado meta, entregando el control total sobre el desarrollo y ejecución de su visión sin
                  restricciones de políticas o requisitos.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed custom-header" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEigth" aria-expanded="false" aria-controls="flush-collapseEigth">
                  Impulso a la innovación
                </button>
              </h2>
              <div id="flush-collapseEigth" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  En Mondainai, respaldamos a empresas innovadoras y disruptivas con un ecosistema de recursos. Esto les
                  permite enfocarse en experimentar y probar nuevas ideas con la tranquilidad de una estructura
                  empresarial, solida, estable y resiliente.
                </div>
              </div>
            </div>
          </div><br>
        </div> 
        <style>
          .custom-header {
            background-color: #95979B;
            color: white;
            /* Color del texto */
          }

          .custom-header:not(.collapsed) {
            background-color: #95979b93;
            color: black;
          }

          .custom-header.collapsed {
            background-color: #95979B;
            color: white;
          }
        </style>
          <h3>Nuestros últimos clientes recomiendan nuestros recursos</h3>
          <div class="col-md-12 d-flex flex-wrap justify-content-center">
            <img src="images/Recomendacion_1.webp" class="m-2" alt="..." width="250" height="300">
            <img src="images/Recomendacion_2.webp" class="m-2" alt="..." width="250" height="300">
            <img src="images/Recomendacion_3.webp" class="m-2" alt="..." width="250" height="300">
            <img src="images/Recomendacion_4.webp" class="m-2" alt="..." width="250" height="300">
          </div>
          
        
      </div>

    </div>
    <%- include('partials/footer') %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>