<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MONDAINAI</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/ico.ico">
  <style>

  </style>
</head>

<body>
  <%- include('partials/header') %>
    <!-- <h1>Bienvenido al Portal</h1> -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/1.jpg" class="d-block w-100" alt="..." width="200" height="400">
        </div>
        <div class="carousel-item">
          <img src="images/2.jpg" class="d-block w-100" alt="..." width="200" height="400">
        </div>
        <div class="carousel-item">
          <img src="images/3.jpg" class="d-block w-100" alt="..." width="200" height="400">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> <br>

    <div class="container text-center">
      <div class="row">
        <div class="col-md-3">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi autem numquam consequuntur quibusdam hic
            non molestiae, commodi accusantium alias ducimus expedita modi odio exercitationem nesciunt perspiciatis
            quae, optio ullam perferendis?</p>
        </div>
        <div class="col-md-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eveniet magnam atque ad fuga sit
            consectetur id ex similique alias officia a deleniti, minus dignissimos quis explicabo, repellat
            perspiciatis facilis?</p>
        </div>
        <div class="col-md-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non similique cumque saepe rem dolor. Fugiat in ab
            eveniet voluptate voluptas, illo doloribus perspiciatis impedit expedita assumenda debitis tempora
            blanditiis officiis.</p>
        </div>
        <div class="col-md-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non similique cumque saepe rem dolor. Fugiat in ab
            eveniet voluptate voluptas, illo doloribus perspiciatis impedit expedita assumenda debitis tempora
            blanditiis officiis.</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="images/1.jpg" class="d-block w-100" alt="..." width="200" height="200">
          </div>
          <div class="col-md-4">
            <img src="images/2.jpg" class="d-block w-100" alt="..." width="200" height="200">
          </div>
          <div class="col-md-4">
            <img src="images/3.jpg" class="d-block w-100" alt="..." width="200" height="200">
          </div>
        </div>
      </div> <br>
    </div>
    <%- include('partials/footer') %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>