<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contingencias | SERE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="/images/ico.ico">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/header");
            $("#footer").load("/footer");
            $("#NavSere").load("/sere/NavSere");
        });
    </script>
    <style>
        .card-img-top {
            width: 40%;
            height: 10rem; /* Ajusta esta altura según tus necesidades */
            /* object-fit: cover; */
        }
        .card {
            height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
        }
    </style>
</head>

<body>
    <!-- <div id="header"></div> -->
    <%- include('partials/NavMondainaiSere') %>
    <div class="container text-center">
        <div id="NavSere"></div>
        <h3>ELIJE UNA OPCIÓN</h3>
        <div class="container-cards"> <!-- Contenedor -->
            <div class="row justify-content-center"> <!-- Fila -->
                <% if (IDPerfil && IDPerfil !== 'AD') { %>
                    <div class="col-md-4 mb-4"> <!-- Columna -->
                        <div class="card">
                            <% if (Usuario_Activo===0) { %>
                                <p class="text-danger">Usuario inactivo</p> <br>
                                <img src="/images/sere/solicitud.webp" class="card-img-top img-fluid" alt="...">
                                <%} else{ %>
                                    <a href="/sere/AltaInfGeneral" >
                                        <img src="/images/sere/solicitud.webp" class="card-img-top img-fluid" alt="...">
                                    </a>
                            <%} %>
                            <div class="card-body text-center">
                                <h5 class="card-title">Formulario de entrega de casos</h5>
                                <p class="card-text">Esta sección permite a los usuarios ingresar y enviar detalles específicos de un caso que necesitan ser revisados o gestionados por el despacho.</p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    
                <div class="col-md-4 mb-4"> <!-- Columna -->
                    <div class="card"> <br>
                        <a href="/sere/DatosDelDeudor">
                            <img src="/images/sere/cotizacion.webp" class="card-img-top img-fluid" alt="..." style="height: 7rem;">
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title">Consulta y cotización.</h5>
                            <p class="card-text">
                                Esta sección esta enfocada en concentrar y gestionar los casos asignados a un despacho, permitiendo a los despachos transparentar sus honorarios. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4"> <!-- Columna -->
                    <div class="card">
                        <a href="/sere/Ejemplo"><br>
                            <img src="/images/sere/Gestion.webp" class="card-img-top img-fluid" alt="..." style="height: 7rem;">
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title">Gestión de casos</h5>
                            <p class="card-text">
                                Esta sección optimiza la gestión de casos, mejorando el seguimiento y la organización de información clave para el despacho.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="footer"></div> -->
    <%- include('../../views/partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>