<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECIE | PROYECTO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <div id="header"></div>
</head>

<body>
    <div class="container text-center"><br>
        <h4>ALTA A NUEVO PROYECTO</h4>
        <hr>
        <form action="/secie/AltaNuevoProyecto" method="post" novalidate class="needs-validation">
            <div class="row mb-3">
                <div class="row align-items-end">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="rfc" class="form-label"> RFC: *</label>
                            <input type="text" id="rfc" name="rfc" class="form-control" maxlength="13" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre o razón social: *</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="tipo_proyecto" class="form-label">Tipo de proyecto:</label>
                            <select id="tipo_proyecto" name="tipo_proyecto" class="form-select" required>
                                <option value="" selected disabled></option>
                                <option value="Diseño de negocio">Diseño de negocio</option>
                                <option value="Plan de PUV">Plan de PUV</option>
                                <option value="Planes de Suministro">Planes de Suministro</option>
                                <option value="Cimiento Integral Empresarial">Cimiento integral empresarial</option>
                                <option value="Estabilidad financiera">Estabilidad financiera</option>
                                <option value="Sistema de Negocio">Sistema de Negocio</option>
                                <option value="Gestión de contingencias">Gestión de contingencias</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="descripcion_proyecto" class="form-label">Breve descripcion del Proyecto:</label>
                            <textarea id="descripcion_proyecto" name="descripcion_proyecto" maxlength="450"
                                class="form-control" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <table class="table table-responsive">
                                <h4>Responsable(s)</h4>
                                <thead>
                                    <tr>
                                        <th>RFC</th>
                                        <th>Usuario(s)</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyResponsables"></tbody>
                            </table>
                            <button type="button" id="addRowResponsables" class="btn btn-primary">+</button>
                            <button type="button" id="removeLastResponsable" class="btn btn-danger">-</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <table class="table table-responsive">
                                <h4>Auditor(es)</h4>
                                <thead>
                                    <tr>
                                        <th>RFC</th>
                                        <th>Usuario(s)</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyAuditores"></tbody>
                            </table>
                            <button type="button" id="addRowAuditores" class="btn btn-primary">+</button>
                            <button type="button" id="removeLastAuditor" class="btn btn-danger">-</button>
                        </div>
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">ENVIAR</button>
        </form> <br>
        <div class="container">
            <div id="error-message" class="alert alert-danger d-none" role="alert">
                Por favor complete todos los campos marcados en rojo antes de enviar el formulario.
            </div>
            <div id="success-message" class="alert alert-success d-none" role="alert">
                <strong>Proyecto creado correctamente</strong><br> Por favor dirigete a inicio
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#header").load("html/partials/header.html");
            $("#footer").load("html/partials/footer.html");
        });
    </script>
    <script src="src/altaProyecto.js"></script>

</body>

<div id="footer"></div>

</html>