<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTACTOS | ALTA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="/images/ico.ico">
    <link rel="stylesheet" href="/sere/css/Alta-ContactosVariablesRiesgo.css">
</head>

<body>
    <div id="header"></div>
    <div class="container text-center">
        <div id="NavSere"></div>
        <h2 style="display: inline;" >CONTACTOS</h2>
        <h6 style="display: inline; margin-left: 0.5rem">(Máximo 3)</h6>
        <hr>
        <form action="/sere/guardar-contactos" method="post" autocomplete="off" class="needs-validation"
            enctype="multipart/form-data" novalidate>
            <div id="contactosContainer">
                <div class="row mb-3 align-items-end contactoContainer">
                    <h4>DEL CONTACTO PRINCIPAL:</h4>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="NombreContacto1">NOMBRE: *</label>
                            <input type="text" class="form-control" name="NombreContacto1" id="NombreContacto1"
                                maxlength="150" required />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="DireccionContacto1">DIRECCIÓN: *</label>
                            <input type="text" class="form-control" name="DireccionContacto1" id="DireccionContacto1"
                                maxlength="150" required />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="CelularContacto1">NÚMERO DE CELULAR: *</label>
                            <input type="text" class="form-control" name="CelularContacto1" id="CelularContacto1"
                                required />
                            <small id="avisoCelular1" class="form-text text-danger"></small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="TelefonoContacto1">TELÉFONO FIJO: *</label>
                            <input type="text" class="form-control" name="TelefonoContacto1" id="TelefonoContacto1"
                                required />
                            <small id="avisoTelefono1" class="form-text text-danger"></small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="PuestoContacto1">PUESTO:</label>
                            <input type="text" class="form-control" name="PuestoContacto1" id="PuestoContacto1"
                                maxlength="10" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="EmailContacto1">CORREO ELECTRÓNICO PRINCIPAL: *</label>
                            <input type="email" class="form-control" name="EmailContacto1" id="EmailContacto1"
                                required="" />
                            <div id="emailError1" class="form-text text-danger"></div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="EmailContactoAdicional1">CORREO ELECTRÓNICO
                                ADICIONAL:</label>
                            <input type="email" class="form-control" name="EmailContactoAdicional1"
                                id="EmailContactoAdicional1" />
                            <div id="emailError2" class="form-text text-danger"></div>
                        </div>
                    </div>

                    <div>
                        <div class="mb-3">
                            <label class="form-label" for="ObservacionesContacto1">OBSERVACIONES ADICIONALES:</label>
                            <textarea name="ObservacionesContacto1" id="ObservacionesContacto1" rows="5"
                                class="form-control" maxlength="200"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="alert alert-dark" role="alert">
                        <strong>Nota:</strong> Presiona <strong>(+)</strong> ó <strong>(-)</strong> para agregar o
                        eliminar contactos adicionales.
                    </div>
                </div>
            </div>
            <button type="button" onclick="agregarContacto()" class="btn btn-dark id=" btnAgregarContacto">+</button>
            <button type="button" onclick="eliminarUltimoContacto()" class="btn btn-secondary mr-3"
                id="btnEliminarContacto">-</button>
            <h2>VARIABLES DE RIESGO</h2>
            <hr>
            <div class="row mb-3 align-items-end">
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button custom-header" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        MONTO DE LA DEUDA
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <table class="table table-hover text-center" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">CATEGORIAS DE PRODUCTOS Y/O SERVICIOS</th>
                                                    <th scope="col">MONTO ($)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td><input type="text" class="form-control text-center"
                                                            placeholder="ADEUDO 1" id="DescripcionAdeudo1"
                                                            name="descripcionAdeudo1">
                                                    </td>
                                                    <td><input type="number" class="form-control text-center montoInput"
                                                            placeholder="MONTO 1" id="adeudoMonto1" name="adeudoMonto1"
                                                            onkeyup="calcularTotal()"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <button type="button" class="btn btn-dark btn-lg" id="agregarBtn"
                                            onclick="agregarFila()">+</button>
                                        <button type="button" class="btn btn-secondary btn-lg" id="eliminarBtn"
                                            onclick="eliminarUltimaFila()">-</button>

                                        <div class="mt-3">
                                            <p>Saldo Total Actualizado: $</p>
                                            <span id="total"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .custom-header {
                                background-color: #95979B;
                                color: white;
                                /* Color del texto */
                            }

                            .custom-header:not(.collapsed) {
                                background-color: #95979b93;
                                color: black;
                            }

                            .custom-header.collapsed {
                                background-color: #95979B;
                                color: white;
                            }
                        </style>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="/sere/AltaEdoCuenta" target="_blank">
                                        <img src="/images/1.jpg" alt="Estado de Cuenta" class="img-fluid rounded-start">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Estado de cuenta</h5>
                                        <p class="card-text"><small class="text-body-secondary">Presiona el ícono para llenar esa parte del formulario</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="/sere/AltaHistorialPagos" target="_blank">
                                        <img src="/images/1.jpg" alt="Estado de Cuenta" class="img-fluid rounded-start">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Historial de pagos</h5>
                                        <p class="card-text"><small class="text-body-secondary">Presiona el ícono para llenar esa parte del formulario</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center text-justify">
                    <div class="col-md-8">
                        <div class="alert alert-danger" role="alert">
                            <strong>Importante:</strong> En esta sección de la solicitud, solo se permite agregar un
                            archivo, preferiblemente en formato <strong>PDF</strong>. Si tienes más de un archivo,
                            comprímelos en un
                            archivo <strong>ZIP</strong> y añádelos a la solicitud.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label" for="TipoDeuda">TIPO DE DEUDA (SOLVENCIA):</label>
                        <select class="form-select" name="TipoDeuda" id="TipoDeuda"
                            onchange="mostrarCampoTipoGarantia()" required>
                            <option selected disabled value=""></option>
                            <option value="Garantizada">Garantizada</option>
                            <option value="NoGarantizada">No Garantizada</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3" id="CampoTipoGarantia" style="display: none;">
                    <div class="mb-3">
                        <label class="form-label" for="TipoGarantia">¿TIPO DE GARANTÍA?</label>
                        <select class="form-select" id="TipoGarantia" name="TipoGarantia">
                            <option selected disabled value=""></option>
                            <option value="Vehiculo">Vehiculo</option>
                            <option value="Maquinaria-Equipamiento">Maquinaria y Equipamiento</option>
                            <option value="CuentasPorCobrar">Cuentas por cobrar</option>
                            <option value="Inversiones-Valores">Inversiones y valores</option>
                            <option value="Inventario">Inventario</option>
                            <option value="Joyeria-ObjetosValor">Joyeria y objetos de valor</option>
                            <option value="DerechosAutor-Patentes">Derechos de autor y patentes</option>
                            <option value="TituloDeCredito">Título de crédito</option>
                            <option value="InmuebleTerreno">Inmueble ó terreno</option>
                            <option value="Otros">Otros</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3" id="campoOtros" style="display: none;">
                    <div class="mb-3">
                        <label class="form-label" for="OtroTipoGarantia">¿Cuál?</label>
                        <input type="text" class="form-control" name="OtroTipoGarantia" id="OtroTipoGarantia">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label" for="DocumentacionLegal">DOCUMENTACIÓN LEGAL: </label>
                        <input type="file" class="form-control" name="DocumentacionLegal" id="DocumentacionLegal"
                            required>
                    </div>
                </div>
                
                <h6>DAÑOS RECLAMADOS JUDICIAL:</h6>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="DescripcionDanosReclamados">DESCRIBA LOS DAÑOS
                            RECLAMADOS:</label>
                        <textarea name="DescripcionDanosReclamados" id="DescripcionDanosReclamados" rows="2"
                            class="form-control" maxlength="50" required></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="DocumentacionDanosReclamados">ADJUNTA LA DOCUMENTACIÓN DE LOS
                            DAÑOS:</label>
                        <input type="file" class="form-control" name="DocumentacionDanosReclamados" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="DescripcionActitudDeudor">DESCRIBA LA ACTITUD DEL DEUDOR:</label>
                        <textarea name="DescripcionActitudDeudor" id="DescripcionActitudDeudor" rows="3"
                            class="form-control" maxlength="50" required></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="DocumentacionDanosReclamados">ADJUNTA LA DOCUMENTACIÓN
                            SOPORTE:</label>
                        <input type="file" class="form-control" name="DocumentacionSoporteActitudDeudor"
                            id="DocumentacionDanosReclamados" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="BuroDelCliente">INFORMACIÓN CREDITICIA DEL CLIENTE:</label>
                        <input type="file" class="form-control" name="BuroDelCliente" id="BuroDelCliente" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="alert alert-dark" role="alert">
                            <strong>Nota:</strong> Adjunta documentación sobre el otrogamiento del credito.
                        </div>
                    </div>
                </div>

                <h6>CUENTAS BANCARIAS:</h6>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label" for="Banco">BANCO:</label>
                        <input type="text" class="form-control" name="Banco" id="Banco" maxlength="10" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label" for="NumeroDeCuenta">NÚMERO DE CUENTA:</label>
                        <input type="text" class="form-control" name="NumeroDeCuenta" id="NumeroDeCuenta"
                            oninput="verificarInput(this)" maxlength="50" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label" for="EstadoDeCuenta">¿TIENE ESTADO DE CUENTA?:</label>
                        <select class="form-select" name="EstadoDeCuenta" id="EstadoDeCuenta"
                            onchange="mostrarCampoEstadoDeCuenta()" required>
                            <option selected disabled value=""></option>
                            <option value="Si">SI</option>
                            <option value="No">NO</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3" id="CampoEstadoDeCuenta" style="display: none;">
                    <div class="mb-3">
                        <label class="form-label" for="EstadoDeCuentaFile">SUBE 1 ESTADO DE CUENTA:</label>
                        <input type="file" class="form-control" name="EstadoDeCuentaFile" id="EstadoDeCuentaFile">
                    </div>
                </div>
            </div>
            <!-- BOTON -->
            <button id="Registrar" type="submit" class="btn btn-danger btn-lg">Registrar</button>
        </form>
        <div id="success-message" class="alert alert-success d-none" role="alert">
            <strong>Datos guardados correctamente</strong> <br>Por favor presione siguiente para seguir con tu registro.
        </div>
        <!-- Agrega mensaje de alerta -->
        <div id="error-message" class="alert alert-danger d-none" role="alert">
            Por favor complete todos los campos marcados en rojo antes de enviar el
            formulario.
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="/sere/AltaContactosVariablesDeRiesgo">Previous</a>
                </li>
                <li class="page-item disabled" id="nextPageButton"> <!-- Añadido id y clase disabled -->
                    <a class="page-link" href=" /sere/AltaDescripcionDocumentos" tabindex="-1"
                        aria-disabled="true">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/sere/js/Alta-ContactosVariablesRiesgo.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            var forms = document.querySelectorAll(".needs-validation");

            Array.prototype.forEach.call(forms, function (form) {
                form.addEventListener("submit", function (event) {
                    event.preventDefault();
                    if (!form.checkValidity()) {
                        event.stopPropagation();
                        document.getElementById("error-message").classList.remove("d-none");
                        document.getElementById("nextPageButton").classList.add("disabled");
                        document.getElementById("nextPageButton").children[0].setAttribute("aria-disabled", "true");
                        document.getElementById("nextPageButton").children[0].setAttribute("tabindex", "-1");
                    } else {
                        document.getElementById("error-message").classList.add("d-none");

                        // Crear un FormData del formulario
                        var formData = new FormData(form);

                        fetch('/sere/guardar-contactos', {
                            method: 'POST',
                            body: formData // Enviar FormData en lugar de JSON
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Error en la respuesta del servidor');
                                }
                                return response.json();
                            })
                            .then(data => {
                                // Mensaje de éxito y habilitación del botón
                                document.getElementById("success-message").classList.remove("d-none");
                                document.getElementById("nextPageButton").classList.remove("disabled");
                                document.getElementById("nextPageButton").children[0].removeAttribute("aria-disabled");
                                document.getElementById("nextPageButton").children[0].removeAttribute("tabindex");

                                // Bloquear todos los campos de entrada del formulario
                                Array.from(form.elements).forEach(element => {
                                    if (element.tagName === 'INPUT' || element.tagName === 'SELECT' || element.tagName === 'TEXTAREA') {
                                        element.disabled = true;
                                    }
                                });
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                document.getElementById("error-message").classList.remove("d-none");
                                document.getElementById("error-message").textContent = 'Error al guardar los datos.';
                            });
                    }

                    form.classList.add("was-validated");
                }, false);
            });
        });

        $(function () {
            $("#header").load("/header");
            $("#footer").load("/footer");
            $("#NavSere").load("/sere/NavSere");
        });
    </script>
</body>

</html>