<nav class="navbar navbar-expand-lg navbar-light" style=" border-radius: 20px;">
    <div class="container-fluid justify-content-center">
        <!-- Botón de alternancia para dispositivos móviles -->
        <button class="navbar-toggler" id="navbar-togglerSereGestion" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Sección inferior con botones de navegación -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <div class="navbar-bottom w-100" style="background-color: #25509F; border-radius: 20px;">
                <ul class="navbar-nav d-flex justify-content-between align-items-center w-100">
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link" aria-current="page" href="/sere/Ejemplo">Casos</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link" href="/sere/hola2?IDCuenta=<%= idCuenta %>">Información financiera y
                            legal</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link" href="/sere/hola3?IDCuenta=<%= idCuenta %>">Detalles del
                            proceso judicial</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link" href="/sere/hola4?IDCuenta=<%= idCuenta %>">Seguimiento
                            y gestión del caso</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<style>
    /* Mostrar el contenido de la barra de navegación al hacer clic en el botón */
    #navbar-togglerSereGestion.collapsed + .navbar-collapse {
        display: block;
    }

    /* Estilo del botón de alternancia */
    #navbar-togglerSereGestion {
        background-color:#25509F; /* Color de fondo del botón */
        padding: 0.5rem; /* Espaciado interno del botón */
    }


    .navbar-nav .nav-item {
        flex: 1;
        text-align: center;
    }

    .navbar-nav .nav-link {
        display: inline-block;
        width: 100%;
    }

    .navbar-nav form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
    }

    .navbar-nav .btn {
        width: 100%;
        height: 100%;
    }
</style>