<nav class="navbar navbar-light" style="border-radius: 20px;">
    <div class="container-fluid justify-content-center">
        <!-- Botón de alternancia para desplegar el menú -->
        <button class="navbar-toggler" id="navbar-togglerSere" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavSereBtn"
            aria-controls="navbarNavSereBtn" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Sección de navegación oculta por defecto -->
        <div class="collapse navbar-collapse" id="navbarNavSereBtn">
            <div class="navbar-bottom w-100" style="background-color: #95979B; border-radius: 20px;">
                <ul class="navbar-nav d-flex flex-column align-items-center w-100">
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link" aria-current="page" href="/sere/">Menú principal</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link" href="/sere/clientes">Clientes</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link disabled text-muted" href="#">Empleados</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link disabled text-muted" href="#">Proveedores</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link disabled text-muted" href="#">Gobierno</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a class="nav-link" href="#">Soporte</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <form action="/sere/logout" method="get" class="m-0 p-0 w-100">
                            <button type="submit" class="btn w-100 h-100 nav-link">
                                <i class="bi bi-box-arrow-in-right"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
     /* Mostrar el contenido de la barra de navegación al hacer clic en el botón */
     #navbar-togglerSere.collapsed + .navbar-collapse {
        display: block;
    }

    /* Estilo del botón de alternancia */
    #navbar-togglerSere {
        background-color: #95979B; /* Color de fondo del botón */
        padding: 0.5rem; /* Espaciado interno del botón */
    }
    .navbar-nav .nav-item {
        flex: 1;
        text-align: center;
    }

    .navbar-nav .nav-link {
        display: inline-block;
        width: 100%;
    }

    .navbar-nav form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
    }

    .navbar-nav .btn {
        width: 100%;
        height: 100%;
    }

    /* Ocultar el contenido por defecto */
    .navbar-collapse {
        display: none;
    }

    /* Mostrar el contenido al hacer clic en el botón */
    .navbar-toggler.collapsed + .navbar-collapse {
        display: block;
    }
</style>
